.button {
  border: 1px solid black;
  background: #ddd;
  color: black;
  font: inherit;
  border-radius: 2px;
}

:global(.dark) .button {
  background: black;
  color: white;

  &.primary {
    background: $blue;
  }
}

:global(.light) .button {
  background: grey;
  color: black;

  &.primary {
    background: white;
  }
}
