.button {
  border: 1px solid black;
  background: #ddd;
  color: black;
  font: inherit;

  .primary {
    background: $blue;
  }

  :global(.dark) & {
    background: black;
    color: white;
  }

  :global(.light) & {
    background: grey;
    color: black;
  }
}
